annotatorLogger/mainApp/target
annotatorLogger/.idea
annotatorLogger/processor/target
workspace.xml
soot
sootall-2.5.0
inlineWithSoot/.idea
inlineWithSoot/out
emma/
loganalyzer/.idea
loganalyzer/out
loganalyzer/bin
APKTester/.idea
APKTester/out
APKTester/bin

